*.[Dd]ebug/
*.[Rr]elease/
[Dd]ebug*/
[Rr]elease*/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Tt]emp/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.nuget.props
*.nuget.targets
!**/packages.config
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vs/
*.zip
*[Rr]e[Ss]harper*/
*.csproj.user
*.sqlite
node_modules/*
**/dist/*
!Dubhe.Web/wwwroot/**/*
*.javascript
*.coverage
*.nupkg
*.pfx
*.snk
*.psess
*.vsp/
*.vspx/
*.dotCover
# Test results
[Bb]uild/
[Ll]og/
[Nn]ode_modules/
[Pp]ackages/
[Rr]eports/
[Ss]tyleCop/
[Tt]est[Rr]esult*/
[Tt]est[Rr]uns/
[Tt]est[Ss]tart/
## Misc
bin/
obj/
*.suo
.TSCache
*.nuget/
*.DotSettings
*.userprefs
*.infolog
*.debuglog
.Development/
Dubhe.Core/Test/