@{
    ViewBag.Title = "Welcome";
}

<style>
    .container {
        display: flex;
        height: 100%;
    }

    .page-container {
        margin: auto;
        width: 100%;
        max-width: 30rem;
    }

    .link {
        font-size: 24px;
        margin-top: 20px;
    }
</style>



<div class="container">
    <div class="page-container">

        <h1> Welcome to AI Console</h1>

        <div class="link">
            <a color="primary" href="/DownloadImagesForTraining">Download Images For Training</a>
        </div>
        <div class="link">
            <a color="primary" href="/DownloadImagesForDaily">Download Images For Daily</a>
        </div>
        <div class="link">
            <a color="primary" href="/DownloadImagesForTraining">Download Images For Training</a>
        </div>
    </div>
</div>